.bg-header{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f9/Billiards_balls_color.jpg');  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}



.bg-inner {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 50px;  
}

.gallary img:hover{
	transform: scale(0.9);
}